<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <div class="navcontainer">
            <a href="#" class="logo">cake</a>
            <i class='bx bx-cart' id="cart-icon"></i>

            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                <div class="cart-content">
                   
                </div>  
                 <div class="total">
                     <div class="total-title">TOTAL</div>
                     <div class="total-price">0</div>
                 </div>
                 <button type="button" class="btn-buy">BUY NOW</button>
                 <i class='bx bx-x' id="close-cart"></i>
            </div>
            
        </div>
    </header>

    <section class="shopcontainer">
        <h2 class="section-title">shop products</h2>
        

        <div class="shop-content">
            <div class="product-box">
                <img src="anime-sky-4k-0f-1920x1080.jpg" class="product-img">
                <h2 class="product-title">DONUT</h2>
                <span class="price">10</span>
                <i class='bx bx-cart' id="add-cart"></i>    
            </div>
            <div class="product-box">
                <img src="anime-sky-4k-0f-1920x1080.jpg" class="product-img">
                <h2 class="product-title">DONUT</h2>
                <span class="price">10</span>
                <i class='bx bx-cart' id="add-cart"></i>    
            </div>
            <div class="product-box">
                <img src="anime-sky-4k-0f-1920x1080.jpg" class="product-img">
                <h2 class="product-title">DONUT</h2>
                <span class="price">10</span>
                <i class='bx bx-cart' id="add-cart"></i>    
            </div>
        </div>
    </section>
    <script src="main.js"></script>
</body>
</html>