@model DMS.DAL.DatabaseContext.regcustomer
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Form-v6 by Colorlib</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="css/nunito-font.css">
    <!-- Main Style Css -->
    <link href="~/Content/css/registrationstyle.css" rel="stylesheet" />
</head>
<body class="form-v6">
  
    <div class="page-content">
        <div class="form-v6-content">

            <form class="form-detail" action="SaveData">
                <h2>Register Form</h2>
                <div class="form-row">
                    <input type="hidden" name="id" id="cid">
                </div>

                <div class="form-row">
                    <input type="text" name="cfullname" id="full-name" class="input-text" placeholder="Your Full Name" required>
                </div>
                <div class="form-row">
                    <input type="text" name="caddress" id="address" class="input-text" placeholder="Your Address" required>
                </div>

                <div class="form-row">
                    <input type="text" name="cpno" id="phonenumber" class="input-text" placeholder="Your Phone Number" required>
                    @Html.ValidationMessageFor(model => model.cpno, "", new { @class = "text-danger" })
                </div>

                <div class="form-row">
                    <input type="text" name="cemail" id="your-email" class="input-text" placeholder="Email Address" required>
                    @Html.ValidationMessageFor(model => model.cemail, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    <input type="password" name="cpassword" id="password" class="input-text" placeholder="Password" required>
                    @Html.ValidationMessageFor(model => model.cpassword, "", new { @class = "text-danger" })
                </div>
                @*<div class="form-row">
                        <input type="password" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="Comfirm Password" required>

                    </div>*@
                <div class="form-row-last">
                    <input type="submit" class="register" value="Register" >
                   
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
<img src="~/Content/Product Image/sa.jpg" />