
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Product";
}

<h2 style="text-align:center;">Add New Record</h2>


    @using (Html.BeginForm("SaveData", null, FormMethod.Post, new { @class = "", @enctype = "multipart/form-data"}))

    {
    <label class="col-md-12">ID</label>
    <div class="col-md-12">
        <input type="text" name="pid" value="" class="form-control" />
    </div>

    <label class="col-md-12">NAME</label>
    <div class="col-md-12">
        <input type="text" name="pname" value="" class="form-control"  required/>
    </div>


    <label class="col-md-12">CATEGORY</label>
    <div class="col-md-12">
        <input type="text" name="pcategory" value="" class="form-control"  required/>
    </div>


    <label class="col-md-12">PRICE</label>
    <div class="col-md-12">
        <input type="text" name="pprice" value="" class="form-control"  required/>
    </div>

    <label class="col-md-12">IMAGE</label>
    <div class="col-md-12">
        <input type="file" name="pimage" value="Choose a Image" class="form-control" required/>
    </div>

    <label class="col-md-12">MFDDATE</label>
    <div class="col-md-12">
        <input type="date" name="pmfddate" value="" class="form-control" />
    </div>

    <label class="col-md-12">EXPDATE</label>
    <div class="col-md-12">
        <input type="date" name="pexpdate" value="" class="form-control" />
    </div>

    <div class="col-md-12">
        <input style="margin-top:12px;" type="submit" name="submit" class="btn btn-success" value="ADD" id="submit" />
    </div>
    }
</form>
    



