
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Product";

}


@using (Html.BeginForm("UpdateData", "addproduct"))
{
    <input type="hidden" name="pid" value="@Model.pid" />

    <label class="col-md-12">NAME</label>
    <div class="col-md-12">
        <input type="text" name="pname" value="" class="form-control" />
    </div>


    <label class="col-md-12">CATEGORY </label>
    <div class="col-md-12">
        <input type="text" name="pcategory" value="" class="form-control" />
    </div>


    <label class="col-md-12">price: </label>
    <div class="col-md-12">
        <input type="text" name="pprice" value="" class="form-control" />
    </div>
    <label class="col-md-12">IMAGE </label>
    <div class="col-md-12">
        <input type="text" name="pimage" value="" class="form-control" />
    </div>
    <label class="col-md-12">EXPDATE: </label>
    <div class="col-md-12">
        <input type="date" name="pexpdate" value="" class="form-control" />
    </div>
    <label class="col-md-12">MFDATE</label>
    <div class="col-md-12">
        <input type="date" name="pmfddate" value="" class="form-control" />
    </div>

    <div class="col-md-12">
        <input style="margin-top:12px;" type="submit" name="submit" class="btn btn-success" value="Save" id="submit" />
    </div>
}
