
@{
    ViewBag.Title = "edit";
    int sn = 0;
}


@using (Html.BeginForm("UpdateData", "addproduct"))
{
    <input type="hidden" name="id" value="@Model.pid" />
    <label class="col-md-12">Name: </label>
    <div class="col-md-12">
        <input type="text" name="pname" value="" class="form-control" />
    </div>


    <label class="col-md-12">category: </label>
    <div class="col-md-12">
        <input type="text" name="pcategory" value="" class="form-control" />
    </div>


    <label class="col-md-12">price: </label>
    <div class="col-md-12">
        <input type="text" name="pprice" value="" class="form-control" />
    </div>

    <div class="col-md-12">
        <input style="margin-top:12px;" type="submit" name="submit" class="btn btn-success" value="Save" id="submit" />
    </div>
}
